{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80, // 1 line chi co 80 ki tu
        "trailingComma": "none", // xoa dau phay (,) o cuoi object
        "semi": false, // xoa dau cham phay (;)
        "singleQuote": true, // chi dung dau phay don ('') khong dung phay doi ("")
        "no-mixed-spaces-and-tabs": [
          "error",
          "smart-tabs"
        ], // dung duoc ca tab va space
        "arrowParens": "avoid", // arrowfunction dạng: a => {} thay vì (a)=>{}
        "htmlWhitespaceSensitivity": "ignore" // <a></a> không cho xuống dòng ngu ngu dạng <a></a  \n >
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ]
  }
}