.report_item--feedback {
  font-size: 14px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #51666c;
  height: 100%;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  &:hover {
    color: #009688;
  }
}
.report_item--submit {
  background: #d4edd9;
  color: #155724;
  padding: 2px 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 5px;
  width: fit-content;
}
.report_item--notsubmit {
  background: #fff8de;
  color: #caa20c;
  // color: #721c24;
  padding: 2px 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 5px;
  width: fit-content;
}
.card_description {
  white-space: nowrap;
  word-wrap: break-word;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  font-size: 14px;
  font-weight: 400;
}
