.background {
  margin-top: 30px;
  margin-left: 20px;
  border-top-left-radius: 50px;
  width: calc(100% - 20px);
  height: 200px;
  background: #deedec; /* fallback for old browsers */

  position: relative;
  .infor {
    position: absolute;
    bottom: -75%;
    left: 0;
    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-left: 50px;
      margin-top: 20px;
      border: 8px solid #fff;
    }
    .name {
      position: absolute;
      bottom: 35%;
      left: 270px;
      font-size: 25px;
      font-weight: bold;
      width: 100%;
    }
    .mssv {
      position: absolute;
      bottom: 23%;
      left: 270px;
      font-size: 20px;
      font-weight: 400;
      width: 100%;
    }
  }
}
.box {
  position: relative;
  .infor_user_profile {
    position: absolute;
    top: 350px;
    left: 0;
    padding-left: 270px;
    width: calc(100% - 20px);
    margin-left: 20px;
    font-size: 18px;
  }
}
